# Twilio API credentials
# Found at https://www.twilio.com/user/account/settings
TWILIO_ACCOUNT_SID=ACee11cb478f140dfcb300b589ba4be47e
TWILIO_AUTH_TOKEN=414bdfd54333b884e5c6f88d910a7e0f

# Twilio phone number
# Purchase one at https://www.twilio.com/user/account/phone-numbers
TWILIO_NUMBER=+18302613020

# App SID
# Found at https://www.twilio.com/console/voice/dev-tools/twiml-apps
TWILIO_TWIML_APP_SID=APb88abe2a3da3b66b561960d46622d106
